body{
    margin:0;
    padding: 0;
    background-color: #fd9bb7;
    min-height: 100vh;
}

header {
background-color: #9d182b;
padding: 10px 20px 10px 20px;
text-align: center;
margin: auto;

display: flex;
justify-content: center;
align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

nav a { 
    display:inline-block;
    padding: 6px 10px;
    color:#710a14;
    text-decoration: none;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;

    border:1px solid transparent;
    border-radius: 20px;
    transition: 0.2s;
}
 
