body{
    margin:0;
    padding: 0;
    background:repeating-linear-gradient(
        to right,
        #fd9bb7 0px,
        #fd9bb7 30px,
        #9d182b 30px,
        #9d182b 60px
    );
    min-height: 100vh;
    text-align: center;
}

header {
background-color: #fd9bb7;
padding: 10px 20px 10px 20px;
text-align: center;
margin: auto;
height: 50%;

display: flex;
justify-content: center;
align-items: center;
border: 3px solid #9d182b;
border-radius: 8px;
position: relative;
}

nav a {
    text-decoration: none;
}