body{
    margin:0;
    padding: 0;
    background-color: #207078;
    min-height: 100vh;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}



header {
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    height: auto;
    position: relative;
}

nav { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    color: #470e14;

    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    letter-spacing: 3px;

    border: 1px solid transparent;
    transition: 0.2s;
    border-radius: 15px;
}

nav span {
    color: #470e14;
    padding: 6px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top: -25px;
    width: 100%;
}

.caixa {
    background-color: #B8DDE0;
    width: 80%;
    height: 500px;
    padding: 25px;
    text-align: center;
    margin: 50px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    margin-top: 0;
}

.home h1 {
    font-family: "Allura", cursive;
    font-size: 55px;
    font-style: italic;
    color: #470e14;
    margin: 0 0 35px 0;
}

.home p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #470e14;
    font-size: 30px;
    margin: 0;
}